!!!5
%html
  %head
    %title Geographic Information Network of Alaska
    %link{rel:"stylesheet", href:"/assets/bootstrap/css/bootstrap.min.css", type:"text/css", media:"all"}
    %script{src:"/assets/bootstrap/js/bootstrap.min.js", type:"text/javascript"}
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{href:"/"} Geographic Information Network of Alaska
    #page.container
      {{ content }}