<!DOCTYPE html>
<html>
  <head>
    <title>Geographic Information Network of Alaska</title>
    <link href='/assets/bootstrap/css/bootstrap.min.css' media='all' rel='stylesheet' type='text/css' />
    <script src='/assets/bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='navbar navbar-static-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'>Geographic Information Network of Alaska</a>
        </div>
      </div>
    </div>
    <div class='container' id='page'>
      <div class='hero-unit' style='padding: 40px 50px; margin-top: 10px;'>
        <div class='row-fluid'>
          <div class='span9'>
            {{ content }}
            <p>
              If this problem persists please contact
              <a href='mailto:webmaster@gina.alaska.edu'>webmaster@gina.alaska.edu</a>
            </p>
            <p>
              For the latest updates about our service status, please visit:
              <a href='http://twitter.com/uafgina'>http://twitter.com/uafgina</a>
            </p>
            <p style='margin-top:50px;'>
              <img src='/assets/images/transparent_gina_logo.png' />
            </p>
          </div>
          <div class='span3'>
            <img src='/assets/images/ninja.png' />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
